.print-overview h1 {
    font-size: 1rem;
    font-weight: normal;
}

table { width: 100%; }

table th, table td {
    text-align: left;
}

td {
    white-space: nowrap;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}