html {
    font-family: Arial;
    font-size: 13pt;
}

[v-cloak] {
    display: none;
}

.spec {
    overflow: hidden;
}

.print-overview h1 {
    font-size: 1rem;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
}

td:empty {
    height: 0.9em;
}

table.info {
    min-width: 72vw;
}

table.fares { 
    font-size: .7em;
    width: 100%;
}
table.fares th { font-weight: normal; }

table.fares td, table.fares th {
    white-space: nowrap;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2pt 4pt;
}

table.fares thead {
    background-color: rgb(217, 26, 115);
}

table.fares tr:nth-child(even) {
    background: rgb(247, 204, 225);
}

.banner {
    border-top: 3px solid black;
    border-bottom: 1em solid rgb(217, 26, 115);
    height: 0;
    margin: 1em 0;
}

.banner img {
    width: 20vw;
    float: right;
    margin-top: -0.7em;
    border-left: 1em solid white;
    border-right: 3em solid white;
}

.filters {
    list-style: none;
    padding-left: 0;
}

.filters li:nth-child(even) {
    background: lightgray;
}

.filters li {
    height: 2em;
    line-height: 2em;
    padding: 0 5px;
}

.filters li.filter {
    display: flex;
    align-items: center;
}

.filters li.filter > input[type="checkbox"] {
    width: 2em;
}

.filters li.filter > label {
    padding-left: 0.5em;
}

.checkboxes {
    display: flex;
    border: 1px solid gray;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 0.5em;
}

.checkboxes > button {
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.checkboxes > *, .checkboxes > button {
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid gray;
    background: #ddd;
    box-sizing: border-box;
}

.checkboxes > *:last-child {
    border-right: none;
}


input[type="checkbox"]:checked + * {
    background: rgba(0, 255, 0, .4);
}

label.vertical-checkbox {
    line-height: 0.5;
    display: table;
    height: 100%;
    width: 2em;
    align-items: center;
}

.checkboxes > button {
    font-family: sans-serif;
    font-size: 100%;
}

label.vertical-checkbox span {
    padding: 4px;
    display: table-cell;
    font-family: sans-serif;
    line-height: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: rgba(255,0,0,.4);
}

label.vertical-checkbox input[type="checkbox"] {
    display: none;
}

select {
    height: 101%;
    border-radius: 0 !important;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline-width: 0;
    font-size: 1em;
}

@media print {
    .noprint { display: none; }
    @page {size: landscape}
    table.fares thead {
        background-color: rgb(217, 26, 115) !important;
        -webkit-print-color-adjust: exact;
    }
    table.fares tr:nth-child(even) {
        background: rgb(247, 204, 225) !important;
        -webkit-print-color-adjust: exact;
    }
    .spec {
        page-break-before: always;
    }
    .banner {
        border-top: 3px solid black;
        border-bottom: 10px solid rgb(217, 26, 115);
        height: 0;
        -webkit-print-color-adjust: exact;
    }

}