<html>
<title>Dit overzicht voldoet aan de eisen van de Belastingdienst.</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="app.css" />
<div id="app" class="print-overview" v-cloak>
    <div v-for="card in cards" class="spec" v-bind:class="{ noprint: fareSum(cardTravels(card, filters)) == 0 }">
        <div class="banner">
            <div class="line"></div>
            <img src="ovchipkaart.png" />
        </div>
        <table class="info">
            <tr><td colspan=4>Specifieke transacties</td></tr>
            <tr><td colspan=4></td></tr>
            <tr><th>Kaartnummer</th><td colspan=3>{{card.mediumId}}</td></tr>
            <tr><th>Naam</th><td colspan=3>{{person.name | toUpper}}</td></tr>
            <tr><th>Adres</th><td colspan=3>{{person.address.street}}</td></tr>
            <tr><th>Postcode</th><td colspan=3>{{person.address.zipcode | toUpper}}</td></tr>
            <tr><th>Woonplaats</th><td colspan=3>{{person.address.city | toUpper}}</td></tr>
            <tr><td colspan=4></td></tr>
            <tr><th colspan=2>Transacties</th></tr>
            <tr>
                <th>Periode van</th><td>{{minDate(cardTravels(card, filters)) | dateDay}}</td>
                <th>Totaal declaratie</th><td>{{fareSum(cardTravels(card, filters)) | euro}}</td>
            </tr>
            <tr>
                <th>Periode t/m</th><td>{{maxDate(cardTravels(card, filters)) | dateDay}}</td>
                <th>Totaal geladen</th><td>{{0 | euro}}</td>
            </tr>
        </table>
        <p>{{card.statusAnnouncement}}</p>

        <h3 class="noprint">Filters</h3>
        <ul class="noprint filters">
            <li v-for="filter in filters" class="filter">
                <input type="checkbox" v-model="filter.enabled" />
                <label>Locatie:
                <select v-model="filter.location">
                    <option v-for="location in locations">{{ location }}</option>
                </select>
                </label>
                <div class='checkboxes'>
                    <label v-for="i in days()" class='vertical-checkbox'>                
                        <input type="checkbox" v-model="filter.days" v-bind:value="i" />
                        <span>{{i}}</span>
                    </label>
                </div>
                <div class='checkboxes'>
                    <button v-on:click="toggleDays(filter.days,'work')">Werkdagen</button>
                    <button v-on:click="toggleDays(filter.days,'all')">Alle</button>
                </div>
            </li>
            <li>
                <span v-if="!filters || filters.length == 0">Alle reizen worden weergegeven.</span>
                Wil je <a href="#" v-on:click="addEmptyFilter()">een filter toevoegen</a>?
            </li>
        </ul>

        <h3 class="noprint">Reizen</h3>

        <table class="fares">
            <thead>
                <th>Datum</th>
                <th>Check-in</th>
                <th>Vertrek</th>
                <th>Check-uit</th>
                <th>Bestemming</th>
                <th>Bedrag</th>
                <th>Transactie</th>
                <th>Product</th>
                <th>Opmerkingen</th>
            </thead>
            <tr v-for="t in cardTravels(card) | travelFilter filters">
                <td>{{t.in.date}}</td>
                <td>{{t.in.time}}</td>
                <td>{{t.in.location}}</td>
                <td>{{t.out.time}}</td>
                <td>{{t.out.location}}</td>
                <td>{{t.fare | euro}}</td>
                <td>Check-uit</td>
                <td>{{t.product}}</td>
                <td>{{t.notes}}{{t.in.timestamp | weekDay}}</td>
            </tr>
        </table>
    </div>
</div>
<script src="bower_components/es6-promise/es6-promise.min.js"></script>
<script src="bower_components/fetch/fetch.js"></script>
<script src="bower_components/vue/dist/vue.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>
<script src="build/app.js"></script>
</html>